#box {
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(101, 98, 98);
    background-color: teal;
    width: 50%;
    height: 50%;
}

